<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="${title}"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<body>
    <header th:insert="~{blocks/header :: header}"></header>

    <div class="container mt-5">
        <h1>Список студентов</h1>

        <div class="search-filter input-group">
            <input type="search" id="searchInputName" class="form-control rounded" placeholder="Введите ФИО" aria-label="Search" aria-describedby="search-addon"/>
            <a id="searchLinkName" onclick="validateInput()" class="btn btn-outline-primary">Поиск</a>
        </div>

        <form class="filters" action="/students/show/filter">

            <div class="select-filters row g-3 mt-1">

                <div class="faculty-filter col-md-3">
                    <select name="faculty" class="form-select mt-2">
                        <option value="" selected disabled hidden>Факультет</option>
                        <option value="Биологический">Биологический</option>
                        <option value="Востоковедения">Востоковедения</option>
                        <option value="Физкультурный">Физкультурный</option>
                        <option value="Социальный">Социальный</option>
                        <option value="Исторический">Исторический</option>
                        <option value="ФИЯ">ФИЯ</option>
                        <option value="ФИиИТ">ФИиИТ</option>
                        <option value="Культуры">Культуры</option>
                        <option value="Математический">Математический</option>
                        <option value="Психологии и философии">Психологии и философии</option>
                        <option value="Физический">Физический</option>
                        <option value="Филологический">Филологический</option>
                        <option value="Химический">Химический</option>
                        <option value="Экологии">Экологии</option>
                        <option value="Экономики">Экономики</option>
                        <option value="Юридический">Юридический</option>
                    </select>
                </div>

                <div class="scholarship-filter col-md-3">
                    <select name="scholarship" class="form-select mt-2">
                        <option value="" selected disabled hidden>Стипендия</option>
                        <option value="Социальная">Социальная</option>
                        <option value="В повышенном размере">В повышенном размере</option>
                    </select>
                </div>

                <div class="studyForm-filter col-md-3">
                    <select name="studyForm" class="form-select mt-2">
                        <option value="" selected disabled hidden>Форма обучения</option>
                        <option value="Бакалавриат">Бакалавриат</option>
                        <option value="Магистратура">Магистратура</option>
                    </select>
                </div>

                <div class="foundationReason-filter col-md-3">
                    <select name="foundationReason" class="form-select mt-2">
                        <option value="" selected disabled hidden>Основание</option>
                        <option value="УСЗН">УСЗН</option>
                        <option value="Инвалидность">Инвалидность</option>
                        <option value="Постановление">Постановление</option>
                    </select>
                </div>

            </div>

            <div class="sort-filters row g-3">
                <div class="sortColumn-filter col-md-6">
                    <select name="sortColumn" class="form-select mt-2">
                        <option value="" selected disabled hidden>Сортировать по:</option>
                        <option value="id">ID</option>
                        <option value="firstName">Имени</option>
                        <option value="lastName">Фамилии</option>
                        <option value="course">Курсу</option>
                        <option value="middleName">Отчеству</option>
                        <option value="faculty">Факультету</option>
                        <option value="studyForm">Форме обучения</option>
                        <option value="scholarship">Стипендии</option>
                        <option value="orderNumber">Номеру приказа</option>
                        <option value="orderDate">Дата приказа</option>
                        <option value="issuanceEndDate">Дата окончания выдачи по каждому из приказов</option>
                        <option value="foundationEndDate">Окончание срока основания</option>
                        <option value="foundationReason">Основание</option>
                    </select>
                </div>

                <div class="sortDirection-filter col-md-6">
                    <select name="sortDirection" class="form-select mt-2">
                        <option value="" selected disabled hidden>Упорядочить по:</option>
                        <option value="asc">По возрастанию</option>
                        <option value="desc">По убыванию</option>
                    </select>
                </div>
            </div>

            <div class="buttons row mb-3 mt-2 justify-content-evenly">
                <button type="submit" class="btn btn-outline-primary col-6 col-md-3">Искать</button>
                <a class="btn btn-outline-primary col-6 col-md-3" th:href="@{/students/show/check}">Проверить истечение срока</a>
                <a class="btn btn-outline-primary col-6 col-md-3" th:href="@{/students/show}">Сбросить</a>
            </div>
        </form>

        <div th:each="el : ${students}" class="alert alert-info mt-3">
            <table class='table table-primary table-striped'>
              <tr>
                  <th>ID</th>
                  <th>Фамилия</th>
                  <th>Имя</th>
                  <th>Отчество</th>
                  <th>Курс</th>
                  <th>Факультет</th>
                  <th>Форма обучения</th>
                  <th>Стипендия</th>
                  <th>Номер приказа</th>
                  <th>Дата приказа</th>
                  <th>Дата окончания выдачи по каждому из приказов</th>
                  <th>Окончание срока основания</th>
                  <th>Основание</th>
                  <th>Действие</th>
              </tr>
              <tr>
                  <td th:text="${el.id}"></td>
                  <td th:text="${el.lastName}"></td>
                  <td th:text="${el.firstName}"></td>
                  <td th:text="${el.middleName}"></td>
                  <td th:text="${el.course}"></td>
                  <td th:text="${el.faculty}"></td>
                  <td th:text="${el.studyForm}"></td>
                  <td th:text="${el.scholarship}"></td>
                  <td th:text="${el.orderNumber}"></td>
                  <td th:text="${el.orderDate}"></td>
                  <td th:text="${el.issuanceEndDate}"></td>
                  <td th:text="${el.foundationEndDate}"></td>
                  <td th:text="${el.foundationReason}"></td>
                  <td>
                      <a class="btn btn-warning" th:href="@{/students/edit/{id}(id=${el.id})}">Изменить</a>
                      <button type="button" class="btn btn-warning deleteButton mt-2" th:data-student-id="${el.id}">Удалить</button>
                  </td>
              </tr>
            </table>

            <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Удаление студента</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Вы уверены, что хотите удалить данного студента из базы данных?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Нет</button>
                            <form id="deleteForm" method="post">
                                <button type="submit"  class="btn btn-warning">Да</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script th:inline="javascript">
        $(document).ready(function() {
            $('.deleteButton').click(function() {
                let studentId = $(this).data('student-id');
                $('#deleteForm').attr('action', '/students/show/delete/' + studentId);
                $('#deleteModal').modal('show');
            });
        });

        function updateSearchLink() {
            let inputValue = document.getElementById('searchInputName').value;
            let searchLink = document.getElementById('searchLinkName');
            if (inputValue.trim() === '') {
                alert('Пожалуйста, введите ФИО для поиска студента.');
                searchLink.setAttribute('href', "/students/show");
                return;
            } else {

                searchLink.setAttribute('href', "/students/show/search/" + inputValue);
            }
        }

        function validateInput() {
            var input = document.getElementById('searchInputName').value;
            var pattern = /[!@#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?]+/;

            if (pattern.test(input)) {
                alert('Пожалуйста, введите только буквы и цифры.');
                return false;
            } else {
                updateSearchLink();
                return true;
            }
        }
    </script>

</body>

</html>